{{> menu id="about"}}


<div class="ui centered card">
  <div class="image">
    <img src="/stevie.jpg">
  </div>
  <div class="content">
    <a class="header">{{object.name}}</a>
    <div class="meta">
      <span class="date">Joined in {{object.joined}}</span>
    </div>
    <div class="description">
       {{object.fullname}} is an {{object.job}} living in {{object.city}}.
    </div>
  </div>
  <div class="extra content">
    <a>
      <i class="user icon"></i>
       {{object.mates}} contacts
    </a>
  </div>
</div>
